.NavigationSelection {
  position: fixed;
  top: 0;
  z-index: 10;

  height: var(--page-height);
  width: 100vw;
  margin-top: var(--navigation-bar-height);

  background-color: #fff;
}

.NavigationSelection > .menu-items {
  height: 100%;
}

.NavigationSelection > .menu-items > .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 6rem;
}
