.match-details {
  display: grid;
  grid-template-columns: 1fr 6rem 1fr;
  grid-template-rows: 6rem;
}

.match-details > .container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;

  height: 100%;

  padding: 1.2rem;
}

.match-details > .container > .player {
  font-size: 1.2rem;
}

.match-details > .home-players {
  justify-self: flex-end;
}

.match-details > .score {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1.8rem .6rem;

  font-family: 'opensans-semibold';
  font-size: 1.2rem;

  background-color: var(--color-secondary);
}
