.SignupPage > .form {
  width: 100%;

  padding: 0 var(--page-gutter);
}

.SignupPage > .form > .TextInput:not(:first-of-type) {
  margin-top: 2.4rem;
}

.SignupPage > .form > .ActionButton {
  margin-top: 2.4rem;
}
