.TextInput {
  --color-input-field-background: #E8E8E8;
  --color-input-field-border: #76766f;

  min-width: 24rem;
  width: 100%; /* It will scale with the container, and the container should have a "max-width" to grow. */
}

/* @component */
.TextInput > .field-details {
  --status-icon-width: 2.5rem;

  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr var(--status-icon-width);

  height: 2.4rem;
}

.TextInput > .field-details > .label {
  font-family: 'opensans-semibold';
  font-size: 1.4rem;
}

/* @component */
.TextInput > .field-container {
  height: 4.8rem;
  margin-top: .6rem;
}

.TextInput > .field-container > .input-field {
  width: 100%;
  height: 100%;

  background-color: var(--color-input-field-background);
  border: 0;
  border-bottom: 1px solid var(--color-input-field-border);

  font-size: 1.6rem;

  padding: 1.8rem;
}

.TextInput > .field-container > .input-field:focus {
  background: #fff;
  border: 1px solid var(--color-input-field-background);
  border-bottom: 1px solid var(--color-secondary);
}
