.shared-props-for-page {
  --gutter: 2.4rem;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  height: var(--page-height);
  margin-top: var(--navigation-bar-height);

  overflow-y: scroll;
}

.shared-props-for-page > .title-container {
  margin-bottom: 2.4rem;
  padding: var(--gutter);
}

.shared-props-for-page > .title-container > .title {
  font-family: 'dinpro-condensed-bold';
  font-size: 3.6rem;

  text-transform: uppercase;
}
