:root {
  /* C */
  --color-primary: #002d8a;
  --color-secondary: #fd0168;
  --color-tertiary: #fff;

  /* N */
  --navigation-bar-height: 6rem;

  /* P */
  --page-height: calc(100vh - var(--navigation-bar-height));
}
