:root {
  /* C */
  --color-ice: #E8E8EE;
  --color-dark: #040004;
  --color-green: #13cf00;

  --color-primary: #002d8a;
  --color-secondary: #fd0168;
  --color-secondary-as-rgb: 253, 1, 104;
  --color-tertiary: #fff;

  /* N */
  --navigation-bar-height: 6rem;

  /* P */
  --page-height: calc(100vh - var(--navigation-bar-height));
}
