.results-page {
  display: flex;
  align-items: center;
  flex-direction: column;

  height: var(--page-height);

  margin-top: var(--navigation-bar-height);
  padding: 2.4rem;
}

/* @component */
.results-page > .title-container {
  margin-bottom: 2.4rem;
}

.results-page > .title-container > .title {
  font-family: 'dinpro-condensed-bold';
  font-size: 3.6rem;

  text-transform: uppercase;
}

/* @component */
.results-page > .action-buttons-container {
  width: 100%;
}

.results-page > .action-buttons-container > .action-button:not(:last-child) {
  margin-bottom: 1.2rem;
}

/* @responsive */
@media (min-width: 60rem) {
  .results-page {
    align-items: flex-start;
  }
}
