.ResultsPage > .action-buttons-container {
  width: 100%;

  margin-bottom: 6rem;
  padding: 0 var(--page-gutter);
}

.ResultsPage > .action-buttons-container > .ActionButton:not(:last-child) {
  margin-bottom: 1.2rem;
}

.ResultsPage > .results-list-container {
  width: 100%;
}

/* @responsive */
@media (min-width: 60rem) {
  .ResultsPage {
    align-items: flex-start;
  }
}
