.navigation-selection .link {
  cursor: pointer;
}

.navigation-selection .link:hover {
  background-color: var(--color-dark);
}

.navigation-selection .link > .title {
  color: var(--color-dark);
  font-size: 1.4rem;
  font-family: 'opensans-semibold';
  text-transform: uppercase;
}

.navigation-selection .link:hover > .title {
  color: #fff;
}

.navigation-selection .link > .subtitle {
  font-size: 1rem;
  text-transform: uppercase;
}

.navigation-selection .link:hover > .subtitle {
  color: #fff;
}

/* @variant --is-highlighted */
.navigation-selection .link.--is-highlited {
  background-color: var(--color-secondary);
}

.navigation-selection .link.--is-highlited > .title {
  color: #fff;
}

.navigation-selection .link.--is-highlited > .subtitle {
  color: #fff;
}
