.NavigationSelection .LinkToPage {
  cursor: pointer;
}

.NavigationSelection .LinkToPage:hover {
  background-color: var(--color-dark);
}

.NavigationSelection .LinkToPage > .title {
  color: var(--color-dark);
  font-size: 1.4rem;
  font-family: 'opensans-semibold';
  text-transform: uppercase;
}

.NavigationSelection .LinkToPage:hover > .title {
  color: #fff;
}

.NavigationSelection .LinkToPage > .subtitle {
  font-size: 1rem;
  text-transform: uppercase;
}

.NavigationSelection .LinkToPage:hover > .subtitle {
  color: #fff;
}

/* @variant --is-highlighted */
.NavigationSelection .LinkToPage.--is-highlited {
  background-color: var(--color-secondary);
}

.NavigationSelection .LinkToPage.--is-highlited > .title {
  color: #fff;
}

.NavigationSelection .LinkToPage.--is-highlited > .subtitle {
  color: #fff;
}
