.SignupSuccessfulPage {
  position: fixed;
  padding: 0 var(--page-gutter);
  width: 100vw;

  background-color: #fff;
}

.SignupSuccessfulPage.shared-props-for-page {
  margin-top: 0;

  justify-content: center;
  align-items: center;
}

.SignupSuccessfulPage.shared-props-for-page > .title-container {
  text-align: center;
}

.SignupSuccessfulPage.shared-props-for-page > .title-container > .subtitle {
  font-family: 'opensans-semibold';
  font-size: 1.6rem;
}

.SignupSuccessfulPage > .ActionButton:not(:last-child) {
  margin-bottom: 1.2rem;
}

.SignupSuccessfulPage > .NeymarGif {
  margin-bottom: 4.8rem;

  width: 100%;
  max-width: 36rem;
}
