.NavigationSelection .SectionDivider {
  background-color: var(--color-ice);
}

.NavigationSelection .SectionDivider > .text {
  color: var(--color-dark);
  font-size: 1.8rem;
  font-family: 'dinpro-condensed-bold';
  text-transform: uppercase;
}
