.ActionButton {
  --color-button-dark: var(--color-dark);
  --color-button-hotpink: var(--color-secondary-as-rgb);
  --faded-area-width: 4.8rem;
  --transparency-button: .2;

  display: grid;
  grid-template-columns: 1fr var(--faded-area-width);

  width: 100%;
  height: 4.8rem;
  max-width: 36rem;

  border: none;
  cursor: pointer;
}

.ActionButton > .text-area {
  display: flex;
  justify-content: center;
  align-items: center;

  /* Used to consider the ".faded-area" width when aligning ".text-area" content on center. */
  padding-left: var(--faded-area-width);
}

.ActionButton > .text-area > .text {
  color: #fff;
  font-family: 'opensans';
  font-size: 1.8rem;
}

.ActionButton > .faded-area {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  background-color: rgba(0, 0, 0, .5);
}

.ActionButton > .faded-area > .icon {
  width: 2.4rem;
  height: 2.4rem;
}

/* @variants */
.ActionButton.--color-dark {
  background-color: var(--color-button-dark);
}
.ActionButton.--color-dark.--is-disabled {
  background-color: rgba(var(--color-button-dark), var(--transparency-button));
}
.ActionButton.--color-dark.--is-disabled.--is-loading {
  background-color: var(--color-button-dark);
}

.ActionButton.--color-hotpink {
  background-color: rgb(var(--color-button-hotpink));
}
.ActionButton.--color-hotpink.--is-disabled {
  background-color: rgba(var(--color-button-hotpink), var(--transparency-button));
}
.ActionButton.--color-hotpink.--is-disabled.--is-loading {
  background-color: rgb(var(--color-button-hotpink));
}

.ActionButton > .faded-area > .icon.--icon-add {
  background-image: url('./icons/add-icon.png');
}

.ActionButton > .faded-area > .icon.--icon-arrow-down {
  background-image: url('./icons/arrow-down-icon.png');
}

.ActionButton > .text-area > .text.--is-underlined {
  border-bottom: .2rem solid black;
  padding-bottom: .2rem;
}
