.action-button {
  --color-button-ice: #e5e5e5;
  --color-button-lemon: #c0ff36;
  --faded-area-width: 4.8rem;

  display: grid;
  grid-template-columns: 1fr var(--faded-area-width);

  width: 100%;
  height: 4.8rem;
  max-width: 36rem;

  border: none;
  cursor: pointer;
}

.action-button > .text-area {
  display: flex;
  justify-content: center;
  align-items: center;

  /* Used to consider the ".faded-area" width when aligning ".text-area" content on center. */
  padding-left: var(--faded-area-width);
}

.action-button > .text-area > .text {
  font-family: 'opensans';
  font-size: 1.8rem;
}

.action-button > .faded-area {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  background-color: rgba(0, 0, 0, .5);
}

.action-button > .faded-area > .icon {
  width: 2.4rem;
  height: 2.4rem;
}

/* @variants */
.action-button.--color-ice {
  background-color: var(--color-button-ice);
}

.action-button.--color-lemon {
  background-color: var(--color-button-lemon);
}

.action-button > .faded-area > .icon.--icon-add {
  background-image: url('./icons/add-icon.png');
}

.action-button > .faded-area > .icon.--icon-arrow-down {
  background-image: url('./icons/arrow-down-icon.png');
}

.action-button > .text-area > .text.--is-underlined {
  border-bottom: .2rem solid black;
  padding-bottom: .2rem;
}
