.ErrorPage {
  position: fixed;
  padding: 0 var(--page-gutter);
  width: 100vw;

  background-color: #fff;
}

.ErrorPage.shared-props-for-page {
  margin-top: 0;

  justify-content: center;
  align-items: center;
}

.ErrorPage.shared-props-for-page > .title-container {
  text-align: center;
}

.ErrorPage.shared-props-for-page > .title-container > .subtitle {
  font-family: 'opensans-semibold';
  font-size: 1.6rem;
}

.ErrorPage.shared-props-for-page > .title-container > .text {
  color: var(--color-secondary);

  font-family: 'opensans-semibold';
  font-size: 1.4rem;
}

.ErrorPage > .ActionButton:not(:last-child) {
  margin-bottom: 1.2rem;
}

.ErrorPage > .RandomGif {
  margin-bottom: 4.8rem;

  width: 100%;
  max-width: 36rem;
}
