.results-list {
  --color-border-ice: #e5e5e5;
  --gutter: 2.4rem;
}

/* @component */
.results-list > .title-container {
  display: flex;
  justify-items: flex-start;

  margin-bottom: 1.2rem;
  padding: 0 var(--gutter);
}

.results-list > .title-container > .title {
  font-family: 'opensans-semibold';
  font-size: 1.6rem;
}

/* @component */
.results-list > .list > .item {
  list-style: none;

  border-bottom: 1px solid var(--color-border-ice);
}

.results-list > .list > .item:first-of-type {
  border-top: 1px solid var(--color-border-ice);
}

.results-list > .list > .item:last-of-type {
  border-bottom: none;
}
